@font-face {
    font-family: "font-1";
    src: url(./assets/fonts/LobsterTwo-Regular.otf);
  }
  @font-face {
    font-family: "font-2";
    src: url(./assets/fonts/GlacialIndifference-Regular.otf);
  }
  @font-face {
    font-family: "font-3";
    src: url(./assets/fonts/Yellowtail-Regular.otf);
  }
  
  $font-1: "font-1", sans-serif;
  $font-2: "font-2", serif;
  $font-3: "font-3", serif;

  $color-1: #ff3204;
  $color-2: #83a7f5;
  $color-3: #1e62f3;

  h1, h3 {
    font-family : $font-1;
    color: $color-1;
    padding-left: 7px;
    margin: 0 0 5px;
  }
  a {
    font-family: $font-2;
    color: $color-3;
  }
  p {
    font-family: $font-3;
  }
body {
margin: 0;
  }

  